@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0px;
  padding: 0px;
  border-radius: 16px;
}

svg {
  height: 30px;
  width: 30px;
  padding-left: 15px;
  padding-top: 15px;
}

img .pic {
  width: 450px;
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

Link {
  color: #00ffff;
}

body {
  background-color: #112;
}

.home {
  width: auto;
  height: 102vh;
  border-radius: 16px;
  position: relative;
  background: linear-gradient(315deg, #fff 0%, #d7e1d7 74%);
  -webkit-animation-name: contain;
          animation-name: contain;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  animation-direction: alternate-reverse;
}

.home .container {
  width: auto;
  height: 98vh;
  border: solid black 5px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .container .details {
  margin-top: 220px;
  margin-left: 7%;
  padding: 5px;
}

.home .container .details .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .container .details .name h1 {
  font-family: 'Roboto', sans-serif;
}

.home .container .details .position {
  margin-left: 5px;
  margin-top: 12px;
}

.home .container .details .position h2 {
  font-family: 'Roboto', sans-serif;
}

.home .container .details .position h2 u {
  cursor: pointer;
}

.home .container .details .position h2 u :hover {
  color: #00ffff;
}

.home .container .details .navbar {
  width: 350px;
  margin-top: 10px;
}

.home .container .details .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .container .details .navbar ul li {
  padding: 8px;
  list-style-type: none;
  cursor: pointer;
  font: bolder;
}

.home .container .details .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.home .container .details .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 60px;
}

.home .container .details .button :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.home .container .image {
  margin-top: 100px;
  margin-left: 100px;
}

.home .container .image .pic {
  width: 450px;
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

/*Keywords*/
@-webkit-keyframes slide {
  from {
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
  }
  to {
    -webkit-transform: translateY(75px);
            transform: translateY(75px);
  }
}
@keyframes slide {
  from {
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
  }
  to {
    -webkit-transform: translateY(75px);
            transform: translateY(75px);
  }
}

@-webkit-keyframes contain {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
}

@keyframes contain {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
}
/*# sourceMappingURL=home.css.map */