*{
    margin: 0px;
    padding: 0px;
}
.about{
    background: #111;
    color: #ffff;
    .navbar{
        display: inline-flex;
        ul{
            display: inline-flex;
            li{
                padding: 10px;
                list-style: none;
            }
        }
    }
}